@font-face {
  font-family: "Averta CY";
  src: url("../fonts/Averta\ Cyrillic\ Bold.otf");
  font-weight: 700;
}
@font-face {
  font-family: "Averta CY";
  src: url("../fonts/Averta\ Cyrillic\ SemiBold.otf");
  font-weight: 600;
}
@font-face {
  font-family: "Averta CY";
  src: url("../fonts/Averta\ Cyrillic\ Regular.otf");
  font-weight: 400;
}
@font-face {
  font-family: "Averta CY";
  src: url("../fonts/Averta\ Cyrillic\ Light.otf");
  font-weight: 300;
}
