@media only screen and (max-width: 1400px) {
  .header__bottom {
    justify-content: space-between;
  }
  .header__shop-navigate {
    margin-right: 24px;
    width: 100%;
    flex: 3;
  }
  .header__search-block {
    width: 100%;
  }
  .header__search-input {
    width: 100%;
  }
  .header__bottom {
    justify-content: space-between;
  }
  .header__user-service {
    flex: 1;
  }
}
@media only screen and (max-width: 1160px) {
  .header__menu-list li {
    margin-left: 12px;
  }
  .recall {
    display: none;
  }
  .header__user-service {
    flex: 0;
  }
  .header__list-info li {
    margin-right: 12px;
  }
}
@media only screen and (max-width: 960px) {
  .header__list-info li:first-child a {
    color: inherit;
  }
  .header__menu-list {
    position: absolute;
    flex-direction: column;
    background: #fff;
    left: 0;
    right: 0;
    top: 80px;
    width: 100%;
  }
  .header__menu-list li {
    margin-bottom: 24px;
    margin-left: 24px;
  }
  .header__search-block {
    z-index: -1;
  }
  .header__menu-burger {
    display: flex;
    align-items: center;
  }
  .header__menu-burger img {
    margin-right: 15px;
  }
  .header__bottom {
    display: block;
  }
  .header__bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  .header__shop-navigate {
    flex: 0;
    margin-right: 0;
  }
  .header__btn-catalog {
    margin-right: 0;
  }
  .header__search-input {
    background: #f5f3f0;
  }
}
